html,body {
  min-height: 100%;
  margin: 0;
}

body {
  padding: 30px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #B76E79 100%);
  box-sizing: border-box;
}

div select {
  position: relative;
  width: 25%;
  margin: 0 auto;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #60666d;
  
  }